<!-- DEFINE $STICKY_HEADER = false -->

<!-- DEFINE $ROUND_AVATARS = true -->

<!-- DEFINE $FACEBOOK_BUTTON = true -->
<!-- DEFINE $FACEBOOK_URL = 'https://fr-fr.facebook.com/SerieAll' -->

<!-- DEFINE $YOUTUBE_BUTTON = false -->
<!-- DEFINE $YOUTUBE_URL = 'https://www.youtube.com/' -->

<!-- DEFINE $INSTAGRAM_BUTTON = false -->
<!-- DEFINE $INSTAGRAM_URL = 'https://www.instagram.com/' -->

<!-- DEFINE $TWITTER_BUTTON = true -->
<!-- DEFINE $TWITTER_URL = 'https://twitter.com/serieall' -->

<!-- DEFINE $GOOGLE_PLUS_BUTTON = false -->
<!-- DEFINE $GOOGLE_PLUS_URL = 'https://plus.google.com/' -->

<!-- DEFINE $CUSTOM1_BUTTON = false -->
<!-- DEFINE $CUSTOM1_URL = 'http://linkhere.com' -->
<!-- DEFINE $CUSTOM1_ICON = 'icon-name' -->

<!-- DEFINE $CUSTOM2_BUTTON = false -->
<!-- DEFINE $CUSTOM2_URL = 'http://linkhere.com' -->
<!-- DEFINE $CUSTOM2_ICON = 'icon-name' -->
